<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMV8n_ADhzcXbnqt5afwvqpPYMU5xBKUM</string>
	<key>GCM_SENDER_ID</key>
	<string>541431715977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gcuStudentApp</string>
	<key>PROJECT_ID</key>
	<string>gcu-student-app-90280</string>
	<key>STORAGE_BUCKET</key>
	<string>gcu-student-app-90280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541431715977:ios:a5f00f68492af7aef20e58</string>
</dict>
</plist>